<!DOCTYPE html>
<html>
<head>
  <title>Shadmin</title>
  <%= stylesheet_link_tag "shadmin/application", media: "all" %>
  <%= javascript_include_tag "shadmin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%# binding.pry %>
	<% if flash %>
		<div id="flash-messages">
		</div>
	<% end %>

	<%= link_to('logout', destroy_admin_session_path, method: :delete) if admin_signed_in? %>

	<%= yield %>

</body>
</html>
