<div class="side-nav">
  <ul>
    <li><%= link_to 'Admin Users', shadmin.admin_users_path, class: active_nav('admin_users') %></li>
    <li><%= link_to 'Achievements', '#' %></li>
    <li><%= link_to 'Locations', '#' %></li>
    <li><%= link_to 'Points', '#' %></li>
    <li><%= link_to 'Users', '#' %></li>
  </ul>
</div>