<h1>Admin Users</h1>

<%= link_to 'Create New Admin User', new_admin_admin_user_path %>

<ul>
	<% @admin_users.each do |admin| %>
		<li>
			<%= admin.email %> 
			<%= link_to 'Show', admin_admin_user_path(admin) %> | 
			<%= link_to 'Edit', edit_admin_admin_user_path(admin) %> | 
			<%= link_to 'Delete', admin_admin_user_path(admin), method: :delete, data: { confirm: 'Are you sure you want to delete this admin user?' } %>
		</li>
	<% end %>
</ul>