<%= form_for @admin_user, url: action_path do |f| %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<br><br>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<br><br>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>

	<br><br>

	<ul class="controls">
	  <li><%= link_to 'Cancel', action_path %></li>
	  <li><%= f.submit 'Save' %></li>
	</ul>

<% end %>