<div class="index">
  
  <%= render partial: 'breadcrumbs', locals: { parent_title: 'Admin Users' } %>

  <ul class="controls">
    <li><%= link_to 'Create New Admin User', shadmin.new_admin_user_path %></li>
  </ul>

  <div class="index-nav">
    <div class="index-nav-count"><%= records_count_paginated @admin_users, params[:page] %></div>
    <%= paginate @admin_users %>
  </div>

  <ul class="index-table">
    <li class="header-row">Email</li>
    <% @admin_users.each do |admin| %>
    <li class="index-table-row">
      <ul class="controls">
        <li><%= link_to admin.email, shadmin.admin_user_path(admin), { :class=>"left" } %></li>
        <li><%= link_to 'Edit', shadmin.edit_admin_user_path(admin) %></li>
        <li><%= link_to 'Delete', shadmin.admin_user_path(admin), method: :delete, data: { confirm: 'Are you sure you want to delete this admin user?' } %></li>
      </ul>
    <% end %>
  </ul>
</div>
